<div>
	<div class="panel panel-default" style="height: 100%; overflow: hidden;">
	
		<div class="panel-heading">
			<i class="fa fa-bars icon"></i>
			ACTIVE OPERATIONS
			<div class="netstat">
				<i class="netstat-run fa fa-circle-o-notch fa-stack-1x fa-spin"></i>
  				<i class="netstat-error fa fa-exclamation-circle fa-stack-1x"></i>
  			</div>			
		</div>
		<div class="row">
			<div class="field-label">JOB NUM</div>
			<div id="jobNum" class="field">{{labor.jobNum}}</div>
			
			<div class="field-label">CLOCK IN</div>
			<div class="field">{{labor.clockInDate}} - {{labor.clockInTime}}</div>
			
			<div class="field-label">NEXT WC</div>
			<div class="field">{{oper.nextWorkCenter}}</div>
		</div>					
		<div class="row">
			<div class="field-label">EST. TIME</div>
			<div class="field">{{oper.estProdHours}}</div>
			
			<div class="field-label">ELAPSED</div>
			<div id="lapse" class="field"></div>
			
			<div class="field-label">EMPLOYEE</div>
			<div class="field">{{labor.employeeName}}</div>
		</div>
	</div>
</div>	