<div>
  <div class="panel panel-default" style="height: 100%; overflow: hidden;">

    <div class="panel-heading">
      <i class="fa fa-bars icon"></i>
      The HEADING
      <div class="netstat">
        <i class="netstat-run fa fa-circle-o-notch fa-stack-1x fa-spin"></i>
          <i class="netstat-error fa fa-exclamation-circle fa-stack-1x"></i>
        </div>
    </div>

    not the heading

  </div>
</div>
